[submodule "vendor/plugins/script-refactor"]
	path = vendor/plugins/script-refactor
	url = git://github.com/dusdanig/script-refactor.git
[submodule "vendor/plugins/cancan"]
	path = vendor/plugins/cancan
	url = git://github.com/ryanb/cancan.git
[submodule "vendor/plugins/more"]
	path = vendor/plugins/more
	url = git://github.com/cloudhead/more.git
