<% breadcrumb @definition, Step %>
<h1>Steps of definition: <%=h @definition.title %></h1>
<p class="create">
  Maak een <%= link_to "Nieuwe Stap", new_definition_step_path(@definition) %>.
</p>

<div class="steps">
  <ol>
    <%= render :partial => 'step', :collection => @steps %>
  </ol>
</div>
