<h1>Steps of definition <%=h @definition.title %></h1>
<p class="intro">
  Steps of definition <%= link_to_definition @definition %>. Create a <%= link_to "New Step", new_definition_step_path(@definition) %>.
</p>

<div class="steps">
  <ul>
    <%= render :partial => 'step', :collection => @steps %>
  </ul>
</div>
