<h1>New Step</h1>
<p class="intro">Definition: <%= link_to h(@definition.title), @definition %> </p>

<% semantic_form_for [@definition, @step]do |f| %>
  <%= f.inputs :title, :start, :destination_url %>
  <% f.buttons do %>
    <%= f.commit_button %> or <%= link_to 'go back to steps', definition_steps_path(@definition) %>
  <% end %> 
<% end %>


<p></p>