<% breadcrumb @origin %>
<h1>Reageer op bericht</h1>
<p class="intro">
  
</p>

<% semantic_form_for @message, :url => message_replies_path(@origin) do |f| %>
  <%= f.error_messages %>

  <% f.inputs do %>
    <%= f.input :step_id, :as => :radio, :collection => @steps, :label_method => :title %>
  <% end %>
  <%= f.buttons %>
<% end %>

