<% breadcrumb @message, Delivery %>
<h1>Bezorgingen</h1>

<ul>
<% @deliveries.each do |delivery| %>
  <li>
    <%= delivery.organization.title %> @ 
    <%= l(delivery.delivered_at, :format => :short ) if delivery.delivered? %>
    <%= 'Nog niet aangekomen' unless delivery.delivered? %>
  </li>
<% end %>
</ul>

