<h1>Transactiedefinitie overzicht</h1>

<ul>
<% @tasks.each do |task| %>
  <li class="task">
    <%=link_to h(task.title), task %>
  </li>
<% end %>
</ul>

<p>
<%= link_to 'Nieuwe taak', new_task_path %>
</p>
