<h1>Listing tasks</h1>
<p class="intro">
  Create a new <%=link_to_new_task %>.
</p>


<ul>
<% @tasks.each do |task| %>
  <li>
    <%= link_to_task task %> follows procedure <%= link_to_procedure task.procedure %>
  </li>
<% end %>
</ul>

