<h1>Nieuwe Transactiedefinitie</h1>

<% semantic_form_for(@task) do |f| %>
  <%= f.inputs :title %>
  <% f.buttons do %>
    <%= f.commit_button %> of <%= link_to 'ga terug naar taken', tasks_path %>
  <% end %>
<% end %>

