<h1><%=h @instruction.title %></h1>
<p class="intro">binnen transactie <%= link_to h(@procedure.title), @procedure %> </p>

<div class="actions">
  <%= link_to_edit_instruction @instruction %> |
  <%= link_to_destroy_instruction @instruction %>
</div>
