<h1><%=h @instruction.title %></h1>
<p class="intro">binnen transactie <%= link_to h(@procedure.title), @procedure %> </p>

<p>
  <%= link_to 'Bewerk', edit_instruction_path(@instruction) %> |
  <%= link_to 'Vernietig', instruction_path(@instruction), :method => :delete, :confirm => 'Weet je het zeker?' %>
</p>
