<h1>Instructions of procedure <%=h @procedure.title %></h1>
<p class="intro">
  Instructions of procedure <%= link_to_procedure @procedure %>. Create a <%= link_to "New Instruction", new_procedure_instruction_path(@procedure) %>.
</p>

<div class="instructions">
  <ul>
    <%= render :partial => 'instruction', :collection => @instructions %>
  </ul>
</div>
