<h1>New Instruction</h1>
<p class="intro">binnen transactie <%= link_to h(@procedure.title), @procedure %> </p>

<% semantic_form_for @instruction.new_record? ? [@procedure, @instruction] : @instruction do |f| %>
  <%= f.inputs :title, :start %>
  <% f.buttons do %>
    <%= f.commit_button %> of <%= link_to 'Back', @procedure %>
  <% end %> 
<% end %>


<p></p>