
.page {
  margin: auto;
  width: 76%;
  background-color: #fff; color: #222; 
  -webkit-box-shadow: #999 3px 3px 4px;
}

.page p, .page form, .page table {
  padding: 0em 2em;
}
.page ol, .page ul {
  padding: 0em 4em;
}
.page form {
  margin-top: 1em;
}

body { background: #ddd; margin: 0px;}

div.heading {
  background: #ccc;
  margin-bottom: 1em;
  padding: .5em 0em;
}
div.heading .inner {
  margin: auto;
  width: 76%;
}
div.heading p {
  margin: 0px;
  padding: .5em 0em;
}
div.heading a {
  color: #00f;
}
span.title {
  color: #444;
  font-weight: 100;
  font-family: Helvetica;
  font-size: 1.75em;
}


h1 { font-weight: 100; color: #333; margin: 0px; padding: .5em 1em; background: #ccf; }
h2 {
  font-weight: 100;
  color: #333;
  margin: 0px;
  padding: .5em 1.33em;
}
h1 strong { font-weight: bold; color: #000;}

table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
  margin:  0em 2em;
}
table td {
  border: 1px solid black;
  padding: .25em;
}
table th {
  padding: .25em;
  border: 1px solid black;
}

.message.shown {
  color: grey;
}
.message.shown a {
  color: #d8f;
}

.definition_steps h1, .steps h1, .start_steps h1 {
  background: #cfc;
}

.messages h1, .step_messages h1, .transaction_messages h1 {
  background: #ffb;
}

.transactions h1 {
  background: #fbb;
}

.flash {
  margin: auto;
  width: 76%;
  margin-bottom: 1em;
}
.flash.notice {
  background: #484;
  color: white;
}
.flash.error {
  background: #822;
  color: white;
}

.flash p {
  margin: 0em 2em;
  padding: 1em 0em;
}

p.intro, div.intro {
  margin-top: 0em;
  padding: .5em 2em;
  background: #eef;
}

p.intro + p.create {
  margin-top: -1em;
}

p.create {
  padding: .5em 2em;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f588), to(#fbfb88));
                  border-top: 1px solid rgb(238,238,100);
  clear: left;
  display: block;
  margin: 0em;
}


div.actions {
  padding: 1em 2em;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#fbfbfb));
                  border-top: 1px solid rgb(238,238,238);
  clear: left;
  display: block;
  margin: 0em;
}
form.button-to {
  display: inline;
  padding: 0px;
}
form.button-to div {
  display: inline;
}

fieldset.inputs legend {
  font-size: 150%;
}
fieldset.inputs fieldset legend {
  font-size: 100%;
}
