
.page {
  margin: auto;
  width: 76%;
  background-color: #fff; color: #222; 
  border: 1px solid #ddd;
  -webkit-box-shadow: #999 3px 3px 4px;
}

.page p, .page form, .page table {
  padding: 0em 2em;
}
.page ol, .page ul {
  padding: 0em 4em;
}
.page form {
  margin-top: 1em;
}

body { background: #ddd; margin: 0px;}

div.heading {
  background: #ccc;
  margin-bottom: 1em;
  padding: .5em 0em;
}
div.heading .inner {
  margin: auto;
  width: 76%;
}
div.heading p {
  margin: 0px;
  padding: .5em 0em;
}
div.heading a {
  color: #00f;
}
span.title {
  color: #444;
  font-weight: 100;
  font-family: Helvetica;
  font-size: 1.75em;
}


h1 { font-weight: 100; color: #333; margin: 0px; padding: .5em 1em; background: #ccf; }
h2 {
  font-weight: 100;
  color: #333;
  margin: 0px;
  padding: .5em 1.33em;
}
h1 strong { font-weight: bold; color: #000;}

.task_steps h1, .steps h1 {
  background: #cfc;
}

.flash {
  margin: auto;
  width: 76%;
  background: #484;
  color: white;
  margin-bottom: 1em;
}
.flash p {
  margin: 0em 2em;
  padding: 1em 0em;
}

p.intro {
  margin-top: 0em;
  padding: .5em 2em;
  background: #f8f8f8;
}
