<% breadcrumb Notifier %>

<h1>Kennisnemersoverzicht</h1>

<p>Informeert interne applicaties over het aankomen van berichten in Antorcha, zodat deze hierop snel kunnen reageren.</p>

<p><%= link_to 'Nieuwe kennisnemer', new_notifier_path %></p>

<ul>
<% @notifiers.each do |notifier| %>
  <li>
    <%=link_to h(notifier.url), notifier %>
  </li>
<% end %>
</ul>

<br />

