<% breadcrumb @notifier %>
<h1><%= h @notifier.url %></h1>

<p>
  <%= button_to 'Stuur een test notificatie', notifier_notifications_path(@notifier) %>
</p>
<p>
<%= link_to 'Bewerk', edit_notifier_path(@notifier) %> |
<%= link_to 'Terug naar het overzicht', notifiers_path %>
</p>