<h2>Registreren</h2>
<p>U kunt zich hier aanmelden. Na aanmelding heeft u nog geen mogelijkheden binnen het systeem. Deze mogelijkheden krijgt u toegewezen door de beheerder.</p>
<% semantic_form_for resource_name, resource, :url => registration_path(resource_name) do |f| -%>
  <%= f.error_messages :header_message => 'Kon deze registratie niet voltooien.' %>
  
  <%= f.inputs "Registratie", :username, :email, :password, :password_confirmation %>
  <% f.buttons do %>
    <%= f.commit_button "Registreer" %>
  <% end %>
  
<% end -%>


<% content_for :sidebar do %>
<h2>Heeft u al een account?</h2>
<p>Indien u al een account heeft kunt u zich hier inloggen: <%= render :partial => "shared/devise_links" %></p>
<% end%>