<h1>Reactie</h1>

<p>
  <b>Oorzaak:</b>
  <%=link_to_step(@reaction.cause) %>
</p>

<p>
  <b>Gevolg:</b>
  <%=link_to_step(@reaction.effect) %>
</p>

<div class="actions">
  <%= button_to_destroy_reaction(@reaction) %>
</div>