<table id="messages">
	<thead>
  <tr>
		<th></th>
		<th>Verzender</th>
    <th>Bericht titel</th>
    <th>Direction</th>
  </tr>
	</thead>
<% @queued_deliveries.each do |delivery| %>
  <tr class="message">
		<td class="icons"><span class="icon_outgoing">Uit</span></td>
		<td class="sender"><%=h delivery.organization_title %></td>

    <td class="title"><%=  delivery.message ? delivery.message.title : "Bericht onbekend" %></td>
    <td class="date"><%= l(delivery.updated_at, :format => :short) %></td>

  </tr>
<% end %>
</table>