<% breadcrumb Delivery %>
<h1>Wachtrij</h1>

<% if @queued_deliveries.empty? %>
<p>Er staan op dit moment geen berichten in de wachtrij.</p>
<% else %>
<p>Hier vind u een overzicht van berichten die nog verstuurd dienen te worden:</p>
<br />
<%= render 'index' %>
<% end %>