<h1>Listing receptions</h1>

<table>
  <tr>
    <th>Ontvangen</th>
    <th>Bericht</th>
  </tr>

  <% @receptions.each do |reception| %>
    <tr>
      <td><%=h reception.created_at %></td>
      <td><%=h reception.certificate %></td>
      <td><%= link_to "Bericht", reception.message if reception.message %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New reception', new_reception_path %>