<% breadcrumb @definition %>
<h1>Definition <strong><%=h @definition.title %></strong></h1>

<p>
  <%= link_to "Stappen", definition_steps_path(@definition) %> van deze definitie.
</p>
<div class="actions">
  <%= link_to_edit_definition @definition %>
</div>

