<p>

  Antorcha is een beveiligd systeem. Om deze beveiliging te garanderen moet iedere organisatie zijn berichten
  digitaal ondertekenen met een <%= link_to 'X.509 certificaat', 'http://en.wikipedia.org/wiki/X.509' %>. De certificaten zijn <%= link_to "centraal geregistreerd", "http://olympus.heroku.com/certificates" %> en worden gecontroleerd door een Certificate Authority (nader te bepalen wie de certificaten uitgeeft, op het moment is dit The Bean Machine Certificate Authority).
</p>
  

