<p>

  Antorcha is een beveiligd systeem. Om deze beveiliging te garanderen moet iedere organisatie zijn berichten
  digitaal ondertekenen met een <%= link_to 'X.509 certificaat', 'http://en.wikipedia.org/wiki/X.509' %>. De certificaten staan centraal geregistreerd en worden gecontroleerd door een Certificate Authority.
</p>
  

