<h1><%=h @step.title %></h1>
<p class="intro">binnen transactie <%= link_to h(@definition.title), @definition %> </p>

<div class="actions">
  <%= link_to_edit_step @step %> |
  <%= link_to_destroy_step @step %>
</div>
