<% breadcrumb @definition, Role %>
<h1>Rollenoverzicht</h1>

<p class="create">
  <%= musketeer ['Maak een ', link_to_new_role(@definition), ''] %>
</p>

<ul>
<% @roles.each do |role| %>
  <li>
    <%= link_to h(role.title), definition_role_path(@definition, role) %>
  </li>
<% end %>
</ul>

