<<<<<<< HEAD

<h1>Engine</h1>

<p>De engine is verantwoordelijk voor het verwerken van de inkomende en uitgaande berichten.
  Als de engine wordt gestopt dan is antorcha inactief en worden er geen berichten verstuurd.</p>

=======
<% breadcrumb Worker %>
<h1>Werkers</h1>
>>>>>>> 4ed9b935c17ae8f31187a881fd922b0963e9e825
<% if @workers.blank? %>
  <p class="intro"><%= button_to "Start de Antorcha Engine", workers_path, :method => :post %></p>
<% end %>


<% @workers.each do |worker| %>
  <div class="worker">
    <p>Er is een engine met pid <%= worker.pid %>
      <% if worker.running? %>
        en deze loopt goed.
      <% else %>
      , maar deze loopt niet goed meer en zou daarom opgeruimd moeten worden, waarschijnlijk is de Antorchia werker niet correct gestopt.
      <% end %>
    </p>
    <div class="actions">
      <% if worker.running? %>
        <%= button_to "Stop deze werker", worker_path(worker), :method => :delete, :confirm => 'Weet u zeker dat u deze Engine wilt stoppen en daarmee Antorchia inactief maken?'%>
      <% else %>
        <%= button_to "Ruim deze werker op", worker_path(worker), :method => :delete, :confirm => 'Hiermee ruimt u de niet goed lopende werker op' %>
      <% end %>
    </div>
  </div>
<% end %>
