<h1>Nieuwe stap</h1>
<p class="intro">binnen transactie <%= link_to h(@task.title), @task %> </p>

<% semantic_form_for @step.new_record? ? [@task, @step] : @step do |f| %>
  <%= f.inputs :title, :start %>
  <% f.buttons do %>
    <%= f.commit_button %> of <%= link_to 'ga terug naar de transactiedefinitie', @task %>
  <% end %> 
<% end %>


<p></p>