<h1>New Procedure</h1>

<% semantic_form_for(@procedure) do |f| %>
  <%= f.inputs :title %>
  <% f.buttons do %>
    <%= f.commit_button %> or <%= link_to 'go back to procedures', procedures_path %>
  <% end %>
<% end %>

