<% breadcrumb Organization %>
<h1>Listing organizations</h1>

<p class="create">
  <%= link_to_new_organization %>
</p>

<ul>
<% @organizations.each do |organization| %>
  <li>
    <%= link_to_organization organization %>
  </li>
<% end %>
</ul>


