<h1>Listing transactions</h1>
<p class="intro">
  Create a new <%=link_to_new_transaction %>.
</p>


<ul>
<% @transactions.each do |transaction| %>
  <li>
    <%= link_to_transaction transaction %> follows definition <%= link_to_definition transaction.definition %>
  </li>
<% end %>
</ul>

